body{
    margin:0px;
    /*font-family: sans-serif;*/
}

.container{
    display: flex;
    justify-content: flex-start;
    
}

.menu {
  width: 250px;
  height:100%;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
  
}

.menu h3{
    margin:0;
    padding:10px
}

.menu label {
  display: block;
  padding: 10px;
  background: white;
  box-shadow: 2px 0px 1px rgba(0,0,0,0.1);
  cursor: pointer;
  
}

.menu label:hover {
  background-color: #f9f9f9;
}

.categorie-checkbox,
.categorie-checkbox1{
    display: none;
}

.submenu {
  display: none;
  padding-left: 20px;
}

input[type="checkbox"]:checked ~ .submenu {
  display: block;
}

.chevron{
    display:inline-block;
}
.categorie-checkbox:checked + .menu-label .chevron {
  transform: rotate(90deg); 
}

.produits{
    margin:auto;
    margin-top:0px;
    padding:10px;
    
}

.produits img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.image{
    width:100px;
    height:100px;
    margin:10px;
    cursor: pointer;
}

.box{
    box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.box:hover{
    box-shadow: 4px 4px 2px rgba(0,0,0,0.2);
    transform: scale(1.02);
    
}
.liste-produits{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap:10px;
    margin:10px 0px;
}

.categorie{
    margin-bottom:70px;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:black;
}
.filtre-label{
    border-radius: 10px;
    display: block;
  padding: 10px;
  background: white;
  box-shadow: 2px 0px 1px rgba(0,0,0,0.1);
  cursor: pointer;
  width:170px;
}

.categorie-checkbox1:checked + .filtre-label .chevron {
  transform: rotate(90deg); 
}
.submenu1 {
    margin-top:5px;
  display: none;
  padding-left: 20px;
  border:1px solid lightgrey;
  width:170px;
  border-radius:5px;
  position:absolute;
  z-index:1;
  background:white;
}
input[type="checkbox"]:checked ~ .submenu1 {
  display: block;
}
.filtre1{
    position:sticky;
    top:10px;
}