  h2,
  h3,
  h1,
  h5 {
      color: #007bff;
      text-align: center;
      margin: 10px 0;
  }

  .mini {
      color: black;
      font-size: 10px;
      text-align: center;
  }

  a {
      color: #007bff;
      text-decoration: none;
      text-align: center;
  }