:root {
    --font-family: 'Poppins', sans-serif;

    --col-background: #f8f9fa;
    --col-text: #212529;
    --col-text-light: #ffffff;

    --col-primary: #ff6f00;
    --col-secondary: #007bff;
    --col-tertiary: #289fa7;

    --col-success: #28a745;
    --col-warning: #ffc107;
    --col-danger: #dc3545;

    --col-border: #dee2e6;
}

html,
body {
    box-sizing: border-box;
}

body {
    margin: 5%;
    padding: 0%;
    height: 100vh;
    background-color: var(--col-background);
    color: var(--col-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-sizing: border-box;
}

/* Responsive */
@media (max-width: 600px) {

    #introduction,
    #Livraison,
    #retour,
    #exceptions\ \&\ cas\ particuliers,
    #Contact\ \/\ Support,
    #Mentions\ légales\ \(si\ applicables\) {
        padding: 1rem;
        margin: 1rem;
    }
}

/*//////////////////////////////////////////////////*/
h2,
h3,
h1,
h5 {
    color: #007bff;
    text-align: center;
    margin: 10px 0;
}

.mini {
    color: black;
    font-size: 10px;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
    font-size: 10px;
    text-align: center;
}

p {
    text-align: left;
}

div {
    border: 1px solid #007bff;
    margin: 3px;
    border-radius: 15px;
}